In [26]:
import numpy as np
import pandas as pd

In [98]:
df = pd.read_csv("Churn_Modelling.csv")

In [28]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [29]:
df.shape

(10000, 14)

In [30]:
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [42]:
df.isnull().sum()

CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [31]:
df['Geography']

0        France
1         Spain
2        France
3        France
4         Spain
         ...
9995     France
9996     France
9997     France
9998    Germany
9999     France
Name: Geography, Length: 10000, dtype: object

In [32]:
count=0
for i in range(df['Exited'].shape[0]):
    if df['Exited'][i]==1:
        count=count+1

print(count)
print(10000-count)

2037
7963

In [33]:
max(df['CreditScore'])

850

## Removed 4 column in dataset- RowNumber, CustomerId, Surname, HasCrCard

In [157]:
df = df[['CreditScore','Geography','Gender','Age','Tenure','Balance','NumOfProducts','IsActiveMember','EstimatedSalary','Exited']]

In [158]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,1,112542.58,0
2,502,0,0,42,8,159660.80,3,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,79084.10,0

In [159]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
df['Geography']=LE.fit_transform(df['Geography'])
df['Gender']=LE.fit_transform(df['Gender'])

In [160]:
df.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary,Exited
0,619,0,0,42,2,0.00,1,1,101348.88,1
1,608,2,0,41,1,83807.86,1,1,112542.58,0
2,502,0,0,42,8,159660.80,3,0,113931.57,1
3,699,0,0,39,1,0.00,2,0,93826.63,0
4,850,2,0,43,2,125510.82,1,1,79084.10,0

In [161]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test=train_test_split(df.iloc[:,:-1],df.iloc[:,-1],test_size=0.2)

In [155]:
X_test.sample(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,IsActiveMember,EstimatedSalary
1316,850,0,0,31,4,0.00,2,1,33082.81
7189,647,0,0,40,9,0.00,2,1,92357.21
1935,523,0,1,39,3,0.00,2,0,6726.53
9700,563,2,0,36,4,143680.47,2,1,63531.19
1996,534,0,1,62,2,0.00,2,0,42763.12
739,692,0,0,28,8,95059.02,2,0,44420.18
6356,647,0,1,43,9,0.00,2,1,78488.39
9740,798,1,0,29,8,80204.11,2,0,70223.22
1395,705,2,1,46,7,0.00,2,0,117273.35
9608,700,2,1,44,9,0.00,2,0,142287.65

In [153]:
Y_test.sample(10)

2644    0
7085    0
7598    1
5016    0
1670    1
8468    0
2819    0
2856    1
5865    0
1853    0
Name: Exited, dtype: int64

## Logistic Regression

In [181]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
LR = LogisticRegression(max_iter=200)
LR.fit(X_train,Y_train)
y_pred=LR.predict(X_test)
accuracy_score(Y_test,y_pred)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.81

## Decision Tree Classifier

In [165]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
DT = DecisionTreeClassifier()
DT.fit(X_train,Y_train)
y_pred = DT.predict(X_test)
accuracy_score(Y_test,y_pred)

0.784

## Voting classifier

In [166]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier

LR=LogisticRegression()
KNN=KNeighborsClassifier()
DT=DecisionTreeClassifier()

LR.fit(X_train,Y_train)
KNN.fit(X_train,Y_train)
DT.fit(X_train,Y_train)

LR.predict(X_test)
KNN.predict(X_test)
DT.predict(X_test)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [167]:
estimators=[('LR',LR),('KNN',KNN),('DT',DT)]

from sklearn.ensemble import VotingClassifier
from sklearn.metrics import accuracy_score
GBC=VotingClassifier(estimators=estimators)
GBC.fit(X_train,Y_train)
GBC.predict(X_test)
accuracy_score(Y_test,y_pred)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.784

## Gradient Boosting Classifier

In [168]:
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.metrics import accuracy_score
GBC=GradientBoostingClassifier()
GBC.fit(X_train,Y_train)
GBC.predict(X_test)
accuracy_score(Y_test,y_pred)

0.784

In [182]:
import pickle
pickle.dump(df,open('CustomerChurnPrediction.pkl','wb'))